.container {
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60vh;
}
img {
  width: 25vw;
  height: auto;

  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35%;
  height: 60%;
  border-radius: 8px;
  background-color: var(--back1-color);
  padding: 10px;
}
hr {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 100px;
}
p {
  margin-bottom: -12px;
}
h2 {
  width: 55%;
  color: var(--back1-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  margin: 10px 0;
}
h3 {
  color: var(--primary-color);
}

@media (min-width: 280px) and (max-width: 1023px) {
  .container{
    flex-direction: column;
    height: 70vh;
    padding: 20px;
  }
  .info {
    width: 70%;
  }
  h2 {
    width: 70%;
  }
  img {
    width: 30vw;
  }
}

