<app-nav-bar />

<app-banner
  sub_title="conheça"
  title="Nossos Cursos"
  banner_img="/assets/picture_curso.webp"
/>

<div class="courses">
  <app-model-course title="Curso Micropigmentação Labial" />
  <app-model-course title="Curso Nanoblading" />
  <app-model-course title="Curso Lash Lifting" />
</div>

<div class="couses_mobile">
  <i>
    <input checked type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=1');">
    <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=2');">
    <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=3');">
  </i>
</div>


<app-about-course />

<app-included-course />

<app-gallery />

<app-location />

<app-footer image="/assets/logo_watermark.webp" />

<app-floating-button />


