<div class="container">
  <div class="image">
    <img src="/assets/sobrancelha.gif" alt="gif olhos piscando">
  </div>

  <div class="content">
    <h1> Cronograma dos cursos </h1>
    <div class="cards">
      <app-card-day
        title="Primeiro dia"
        sub_title="• Aula Teórica
        • Treino das cores
        • Treino em pele artificial
        • Coffee Break"
        />
      <app-card-day
      title="Primeiro dia"
        sub_title="• Aula Teórica
        • Treino das cores
        • Treino em pele artificial
        • Coffee Break"/>
    </div>

  </div>

</div>
