<div class="container">
  <div class="info_cursos">
    <p> {{title}} </p>
    <h1> {{sub_title}}</h1>
  </div>

  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="{{image1}}" alt="" />
      </div>
      <div class="slide">
        <img src="{{image2}}" alt="" />
      </div>
      <div class="slide">
        <img src="{{image3}}" alt="" />
      </div>
      <div class="slide">
        <img src="{{image4}}" alt="" />
      </div>
      <div class="slide">
        <img src="{{image5}}" alt="" />
      </div>
      <div class="slide">
        <img src="{{image6}}" alt="" />
      </div>
    </div>
  </div>
</div>
