.card {
  margin: -100px 100px 0 0;
  width: 100%;
  height: 40vh;
  position: relative;
  background: var(--primary-color);
  overflow: hidden;
  line-height: 150%;
  transition: box-shadow .3s ease-in-out;
}

.card-info {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

/* Image */
.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform .3s ease-in-out;
  z-index: 2;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}


/* Texts */
  p {
  color: #FFF;
}


/* Hovers */
.card:hover .card-img {
  transform: translateY(-3.5em);
}


@media (min-width: 280px) and (max-width: 1023px) {
  p {
    font-size: 1.3rem;
  }
}
