<app-nav-bar />
<app-banner />

<div class="cards">
  <app-card />
  <app-card />
  <app-card />
</div>

<app-curso
  title="Teste"
  sub_title="testetestetesteteste"

  image1="/assets/teste_black.png"
  image2="/assets/teste_black.png"
  image3="/assets/teste_black.png"
  image4="/assets/teste_black.png"
  image5="/assets/teste_black.png"
  image6="/assets/teste_black.png"
  >
</app-curso>

<app-studio
  background_image="/assets/studio.png"

  title="Teste"
  sub_title="teste"
  >
</app-studio>

<app-location />
