<app-nav-bar />

<app-banner
  sub_title = "Seja"
  title="Bem-vinda"
  banner_img = "/assets/picture.webp"
/>

<div class="cards">
  <app-card image="/assets/teste.avif" text="Micro Labial"/>
  <app-card image="/assets/teste.avif" text="Micro Sobrancelha"/>
  <app-card image="/assets/teste.avif" text="Lash Lifting"/>
</div>

<app-curso
  title="Teste"
  sub_title="testetestetesteteste"

  image1="/assets/teste_black.avif"
  image2="/assets/teste_black.avif"
  image3="/assets/teste_black.avif"
  image4="/assets/teste_black.avif"
  image5="/assets/teste_black.avif"
  image6="/assets/teste_black.avif"
  >
</app-curso>

<app-studio
  background_image="/assets/studio.avif"

  title="Teste"
  sub_title="teste"
  >
</app-studio>

<app-location />

<app-footer
  image="/assets/logo_watermark.png"
/>
