<div class="container">
  <a href="#"> <img src="/assets/logo_main.png" alt="" loading="lazy"/></a>

  <input id="toggle" type="checkbox">

  <label for="toggle" class="hamburger">
    <div class="top-bun"></div>
    <div class="meat"></div>
    <div class="bottom-bun"></div>
  </label>

  <div class="nav">
    <div class="nav-wrapper">
      <nav>
        <a href="#">HOME</a><br>
        <a href="#">PROCEDIMENTOS</a><br>
        <a href="#">CURSOS</a><br>
        <a href="#">STUDIO</a><br>
        <a href="#">CONTATO</a>
      </nav>
    </div>
  </div>
</div>
