.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;

  position: relative;
  z-index: 97;
}

img {
  width: 65px;
}

i {
  color: var(--primary-color);
}


