.container {
  width: 100%;
  height: 100vh;
  background-color: var(--back1-color);

  top: -100px;
  position: relative;

  display: flex;
  justify-content: center;

  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  position: absolute;
  top: 20%;
  left: 20%;
}

p {
  margin-bottom: -25px;
}

.image_main img {
  width: auto;
  height: 100%;

  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 99;
}

.watermark img {
  opacity: 40%;

  width: auto;
  height: 100%;

  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);

  z-index: 98;

}
